*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}

/* nav bar */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    margin: 20px 0;
}

.active{
    background-color: #ffffff;
    color: black;
    padding: 4px 18px;
    border-radius: 8px;
}
h1{
    font-weight: 900;
    font-size: 2rem;
}
h3{
    font-size: 1.7rem;
    font-weight: 100;
}
ul{
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color:white
}
h1, h2, h3, h4, h5, h6,p {
    margin: 6px 0;
}
.navlist{
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(3px);
    padding: 0.8rem;
    border-radius: 202px;
    width: 600px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 40px;
    /* height: 400px; */
    width: 100%;
    color: white;
    padding: 2rem;
    /* background-color: rgba(240, 248, 255, 0.123);
    backdrop-filter: blur(4px); */
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240 248 255 / 22%);
    border-radius: 24px;
    backdrop-filter: blur(4px);
    width: 600px;
    height: 600px;
    padding: 10px 20px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(240 248 255 / 22%);
    border-radius: 24px;
    backdrop-filter: blur(4px);
    width: 600px;
    height: 600px;
    padding:0 10px;
}
button{
    width: 120px;
    height: 40px;
    border-radius: 18px;
    margin: 14px auto;
    border: 1px solid #ffffff;
}
input{
    padding: 20px;
    height: 40px;
    margin: 10px auto;
    width: 250px;
    border: 3px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 18px;
}
button:hover{
    background-color: rgba(137, 43, 226, 0.21);
    backdrop-filter: blur(2px);
    color: #ffffff;
}
::placeholder{
    color: white;
}

.parent{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 4px;
    align-items: end;
    margin-top: 50px;
}

.child{
    background-color: azure;
    height: 10px;
    width: 10px;
    border-radius:50% ;

}

/*responsive navbar  */

#menu {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

@media(max-width:768px) {
    .navlist {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #ac6ec8;
        background-image: linear-gradient(316deg, #30abdd 0%, #994ecc 74%);
        border-radius: 0;
        z-index: 10;
        /* Ensure it appears above other content */

    }

    .logo img {
        height: 60px;
    }

    /* #menu:checked+.menu-icon+ nav li {
        display: flex;
    } */

    #menu:checked+.menu-icon+.navlist {
        display: flex;
        /* Show navlist when menu is checked */
    }

    .menu-icon {
        display: block;
        margin-right: 60px;
    }

    .navlist li {
        padding: 18px;
    }
}


